<div class="app-card-container">
  <div class="card">
    <h1>learn about meh</h1>

    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "solodance.jpg", width: 300, alt: "Profile Image", class: 'profile-img' %>
      </div>
        
      <div class="col-md-8"> 
        <p>Sup, m'name be Tanner an' I love ta dance</p>
        <p>This is content peeps, i gots shiz to talkz aboutz</p>
      </div>
    </div>
  </div>
</div>

