<h1>Pages#contact</h1>
<p>Phone: 801-556-9087</p>
<p>email: <a href="mailto:thatboi@la-di-da.com?subject=PortfolioContact" "email me">Email This Fake email</a></p>
<p>Address: </p>
<div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3315.0085753561034!2d-117.92116288413594!3d33.812091780672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcd7d12b3b5e6b%3A0x2ef62f8418225cfa!2sDisneyland+Park!5e0!3m2!1sen!2sus!4v1500312199620" width="250" height="200" frameborder="0" style="border:0" allowfullscreen></iframe></div>
<p>HA YOU THOUGHT I'D GIVE YOU MY ADDRESS?!?! XD</p>
<p>This place is more fun anyway</p>