<div class="inner cover">
  <h1 class="cover-heading">This is the homepage (as you should know since, you know, its the HOMEPAGE)</h1>
  <p class="lead">This is a portfolio thingamabob that i will use to present to peeps who im tryna convince to spend money on me (hire me) but for now, ima fill it with sarcastic comments while im building it, im a pest like that :)</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>